@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jost&family=PT+Serif:wght@700&display=swap');
.font{
    font-family: 'Jost', sans-serif;
}
.cardImg{
    border-radius: 15px;
    }
    
    .bookName{
        /* color: #40489b; */
        color: var(--navyBlue );
        font-weight: bold;
        font-size: 20px;

    
    }
    .bookAuthor{
        color: gray;
        font-size: 16px;


    }
    .price{
        color: var(--mainColor);
        font-weight: bold;
        font-size: 16px;
  

    }
    .imgContainer{
        background-color: #f8f9fa;
        padding: 40px;
        border-radius: 0 10px 10px 0;
        overflow: hidden;
    }
    .imgContainer img{
        -webkit-box-shadow: 10px 10px 18px 3px rgb(118, 72, 72);
        -moz-box-shadow: 10px 10px 18px 3px rgba(222,222,222,1);
        box-shadow: 10px 10px 18px 3px rgba(222,222,222,1);
        border-radius: 0 10px 10px 0;
    
    }
    
    .overLay{
        position: absolute;
        /* z-index: 3; */
        top:180%;
        left: 0;
        right: 0;
        bottom: 0;
        /* opacity: 0.6; */
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
      
        border-radius: 0 10px 10px 0;
        transition:all 0.5s ease-in-out;
        background-color: rgba(206, 119, 119,0.6);
    }

    .imgContainer:hover .overLay{
        top:0;
    }

.icon{
    width: 40px;
    height: 30px;
    background-color: #f8f9fa;
    color: var(--mainColor);
    padding: 5px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.pLeft{
    padding-left: 40px;
}
.bestSellerCard{
    color: white;
    text-align: center;
}
.bestSellerCard p {
    margin: 0;
}
.headerFont{
    font-size: 23px;
    font-weight: bold;
}
.priceSeller{
    color: white;
    border: 2px solid white;
    right: 0;
    top: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 36%;
    height: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
   background-image: linear-gradient(var(--navyBlue),var(--secondaryColor));
}
.priceSeller span{
    font-weight: bold;
    font-size: 13px;
}
.colorStar{
    color: #ffc107;
}

@media screen and (min-width:300px) and (max-width:700px){
    .headerFont{
font-size: 19px;
    }
  }