.bgBtn {
  background-color: #f2e5e5 !important;
}
.hintColor {
  color: var(--mainColor) !important;
}
.forgotPpassword {
  /* text-decoration: none; */
  color: var(--secondaryColor) !important;
}
.pageHead {
  color: var(--mainColor) !important;
}

.leftLine,
.rightLine {
  width: 45%;
  height: 1px;
  background-color: var(--mainColor) !important;
}

.or {
  color: var(--mainColor) !important;
}
.fitContent {
  width: fit-content !important;
}
.fastack {
  font-size: 30px !important;
  color: var(--mainColor) !important;
  transform: rotatey(180deg) !important;
}

.line {
  height: 1px;
  background-color: grey;
}

.iconFontSize {
  font-size: 3rem;
  color: var(--mainColor);
}

.verifyBtn{
  height: 3.3rem;
}

.resendBtn {
  border: none;
  background: no-repeat;
  text-decoration: underline;
}