@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jost&family=PT+Serif:wght@700&display=swap');

.font {
    font-family: 'Jost', sans-serif;
}

.btn {
    border: 1px solid var(--navyBlue);
    border-radius: 50%;
    background-color: transparent;
    color: var(--navyBlue);
    transition: all 0.3s;
}

.leftBtn {
    margin-right: 10px;
}

.btn:hover {
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
    cursor: default;
}

@media screen and (min-width:300px) and (max-width:580px) {
    .paddingSection {
        padding: 0px 35px;
    }
}

@media screen and (min-width:581px) and (max-width:700px) {
    .paddingSection {
        padding: 0px 15px;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .paddingSection {
        padding: 0px 48px;
    }
}